<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movie App</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class="list-movies-title">
    <h1>jacobs database</h1>
</div>
<div>
    <ol class="movie-grid">
      
<li>
<div class = "movie">
<img class = "movie-poster" src = "https://m.media-amazon.com/images/M/MV5BMDliMmNhNDEtODUyOS00MjNlLTgxODEtN2U3NzIxMGVkZTA1L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg" title>
<div class = "movie-title">Gladiator</div>
<div class = "movie-year">2000</div>
<div class = "movie-plot">A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.</div>
<div class = "movie-directors">Ridley Scott</div>
<div class = "movie-actors">Russell Crowe, Joaquin Phoenix, Connie Nielsen</div>
</div>
</li>
<li>
<div class = "movie">
<img class = "movie-poster" src = "https://m.media-amazon.com/images/M/MV5BMzcwYWFkYzktZjAzNC00OGY1LWI4YTgtNzc5MzVjMDVmNjY0XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" title>
<div class = "movie-title">A Beautiful Mind</div>
<div class = "movie-year">2001</div>
<div class = "movie-plot">After John Nash, a brilliant but asocial mathematician, accepts secret work in cryptography, his life takes a turn for the nightmarish.</div>
<div class = "movie-directors">Ron Howard</div>
<div class = "movie-actors">Russell Crowe, Ed Harris, Jennifer Connelly</div>
</div>
</li>
    </ol>
</div>
</body>
</html>