<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movie App</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class="list-movies-title">
    <h1>danny base</h1>
</div>
<div>
    <ol class="movie-grid">
      
<li>
<div class = "movie">
<img class = "movie-poster" src = "https://m.media-amazon.com/images/M/MV5BOWUyNDA0ZmItMzg2My00YjJhLTk1N2QtYTAxYTc0NzMzNDI0XkEyXkFqcGdeQXVyMTI5NzUyMTIz._V1_SX300.jpg" title>
<div class = "movie-title">The Little Mermaid</div>
<div class = "movie-year">1989</div>
<div class = "movie-plot">A mermaid princess makes a Faustian bargain in an attempt to become human and win a prince's love.</div>
<div class = "movie-directors">Ron Clements, John Musker</div>
<div class = "movie-actors">Jodi Benson, Samuel E. Wright, Rene Auberjonois</div>
</div>
</li>
<li>
<div class = "movie">
<img class = "movie-poster" src = "https://m.media-amazon.com/images/M/MV5BOWIwZGY0OTYtZjUzYy00NzRmLTg5YzgtYWMzNWQ0MmZiY2MwXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_SX300.jpg" title>
<div class = "movie-title">Barbie</div>
<div class = "movie-year">2023</div>
<div class = "movie-plot">Barbie suffers a crisis that leads her to question her world and her existence.</div>
<div class = "movie-directors">Greta Gerwig</div>
<div class = "movie-actors">Margot Robbie, Ryan Gosling, Issa Rae</div>
</div>
</li>
<li>
<div class = "movie">
<img class = "movie-poster" src = "https://m.media-amazon.com/images/M/MV5BYzdiOTVjZmQtNjAyNy00YjA2LTk5ZTAtNmJkMGQ5N2RmNjUxXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg" title>
<div class = "movie-title">The Princess Bride</div>
<div class = "movie-year">1987</div>
<div class = "movie-plot">A bedridden boy's grandfather reads him the story of a farmboy-turned-pirate who encounters numerous obstacles, enemies and allies in his quest to be reunited with his true love.</div>
<div class = "movie-directors">Rob Reiner</div>
<div class = "movie-actors">Cary Elwes, Mandy Patinkin, Robin Wright</div>
</div>
</li>
<li>
<div class = "movie">
<img class = "movie-poster" src = "https://m.media-amazon.com/images/M/MV5BNmM4YTFmMmItMGE3Yy00MmRkLTlmZGEtMzZlOTQzYjk3MzA2XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg" title>
<div class = "movie-title">Howl's Moving Castle</div>
<div class = "movie-year">2004</div>
<div class = "movie-plot">When an unconfident young woman is cursed with an old body by a spiteful witch, her only chance of breaking the spell lies with a self-indulgent yet insecure young wizard and his companions in his legged, walking castle.</div>
<div class = "movie-directors">Hayao Miyazaki</div>
<div class = "movie-actors">Chieko Baishô, Takuya Kimura, Tatsuya Gashûin</div>
</div>
</li>
    </ol>
</div>
</body>
</html>